
@import "bourbon";
@import "neat";
@import "base/normalize";
@import "base/mixins";
@import "base/helpers";

// ---------------------

$container: 900px;
$red: #666;

// ---------------------



body { 
	background: white;
}

section {
  @include outer-container($container);
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
}

h1 {
	@include border-radius(5px);
	font-size: 85px;
}

h2 {
	font-size: 14px;
}